/*Reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Html and Body styling*/
html,body{
	font-family:"Open Sans", Arial, sans-serif;
	font-size: 1 rem;
	line-height: 1.7rem;
	height:70vh;
}

@media(max-width: 2000px){}
/*Navbar*/
#navbar{
	display: flex;
	justify-content: flex-end;
	width: 100%;
	padding: 20px;
	background: linear-gradient(to right,#0C11A4,#620CA4,#CE0F82);
	position:fixed;
}

#navbar ul li{
	list-style: none;
	display: inline-block;
}

#navbar ul li a{
	padding: 10px 30px;
	color:#fff;
	text-decoration: none;
}

/*About section*/
#welcome-section{
	display:flex;
	flex-direction:column;
	padding: 250px;
	text-align: center;
	background:#CCFFFF;
	height: 70vh;
}

/*Utility Classes*/
.heading-one{
	font-size: 2.5rem;
	margin-bottom: 10px;
}

.heading-two{
	text-align: center;
	margin:30px 0;
}

.heading-two-primary{
	text-align: center;
	margin-top:200px;
	background-color:#CCFFFF; 
	padding:10px 0 50px 0;
}

.text-primary{
	font-size: 1.5rem;
}

.project-title{
	text-align: center;
	border:1px solid #000;
	margin-top: 10px;
	border-radius: 5px;
}

.fa-facebook{
	color: #4267B2;
	padding-bottom: 50px;
}

.fa-envelope{
	color:red;
	padding-bottom: 50px;
}

.fa-github{
	color:black;
	padding-bottom: 50px;
}

.fa-phone{
	color:black;
	padding-bottom: 50px;
}

/*Projects Section*/
#project-section{
	display:flex;
	flex-direction: row;
	justify-content: space-around;
}

img{
	width:250px;
	height:200px;
	border:1px solid #000;
	border-radius: 5px;
}

/*Contacts Section*/
#contacts{
	display: flex;
	justify-content: space-around;
	background:#CCFFFF;
	padding:50px 0;
}

/*Footer*/
#footer{
	display: flex;
	justify-content: space-around;
	padding:30px;
	background: linear-gradient(to right,#0C11A4,#620CA4,#CE0F82);
	color:#fff;
}
}